* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bx {
  font-size: 22px;
}

nav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  padding: 1.5em;
}

nav img {
  height: 20px;
  cursor: pointer;
}

main {
  width: 50%;
  margin: 7em auto;
  text-align: center;
}

main p {
  margin-top: 1.5em;
}

main p a {
  color: blue;
  cursor: pointer;
  padding-right: 10px;
}

input {
  width: 80%;
  padding: 1em;
  border-radius: 30px;
  border: 1.5px solid rgb(143, 142, 142);
}

.btn_container {
  margin-top: 1.5em;
}

.btn_container button {
  padding: 0.8em;
  border: none;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  background-color: rgb(197, 192, 192, 0.5);
  width: 100%;
  padding: 0.8em;
  font-size: 15px;
}

footer .bottom {
  display: flex;
  border-top: 1px solid lightgrey;
  justify-content: space-between;
  background-color: rgb(197, 192, 192, 0.5);
  width: 100%;
  padding: 0.8em;
  font-size: 15px;
}

footer .bottom a {
  cursor: pointer;
}

footer .left a {
  margin-right: 1em;
}

footer .right a {
  margin-right: 1em;
}
